/*BEM Methodology*/

/* Flex container for the navigation bar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #333;
    color: #ffffff;
    height: 10vh;
}

/* Navigation links container */
.nav__list {
    list-style: none;
    display: flex;
    gap: 1em;
    align-items: center;
    margin-left: auto;
}

.nav__item {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-family: sans-serif;
    color: #ffffff;
    font-weight: bold;
}

.nav__link {
    color: #ffffff;
    text-decoration: none;
    transition: opacity 0.3s;
}

/* LinkedIn icon */
.nav__icon {
    width: 3vw;
    height: 5vh;
    vertical-align: middle;
}

/* Hover effect */
.nav__link:hover {
    opacity: 0.7;
}

/* Menu toggle button */
.nav__menu-toggle {
    display: none;
    width: 5vw;
    height: 5vw;
}

.nav__menu-toggle:hover {
    opacity: 0.7;
}

.nav__dropdown {
    float: left;
    overflow: hidden;
}

.nav__dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    z-index: 1;
    width: 100vw;
    right: 0;
}

.nav__dropdown-content-link {
    display: block;
    align-items: center;
    font-size: 1em;
    font-family: sans-serif;
    color: #ffffff;
    padding: 1em;
    text-decoration: none;
    transition: opacity 0.3s;
}

.nav__dropdown-content-link:hover {
    opacity: 0.7;
}

.nav__dropdown-content.show {
    display: block;
    margin-left: auto;
}

/* Media query for screens smaller than 650px */
@media (max-width: 650px) {
    .nav__list {
        display: none;
    }

    .nav__menu-toggle {
        display: inline;
    }
}